# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CMakeFiles
/libmp2t/CMakeFiles
/mp2tp/CMakeFiles
/libmp2t/libmp2t.dir
/x64
/.vs
/out/build/x64-Debug
/out/build/Linux-GCC-Debug
/out/install/x64-Debug/include
/out/build/x64-Release
/out/install/x64-Release/include
/out/install/x64-Release/bin
/out/install/x64-Debug/bin
*.vcxproj
*.tlog
*.filters
*.sln
*.log
*.pdb
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
libmp2t/cmake_install.cmake
install_manifest.txt
*.ilk
Testing/Temporary/CTestCostData.txt
*.recipe
libmp2t/Release/libmp2t.lib.lastcodeanalysissucceeded
/build
.vscode/labels.txt
libmp2t/labels.txt
.vscode/launch.json
/mp2tp/build
