# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/out/build/x64-Debug
/out/build/Linux-GCC-Debug
/out/install/x64-Debug/include
/out/build/x64-Release
/out/install/x64-Release/include
/out/install/x64-Release/bin
